/* Variables */
$primary-color: #3a8fb7f3;      // Azul claro que evoca el cielo despejado y tranquilidad.
$secondary-color: #e0f7fa;    // Azul muy suave, casi turquesa, para resaltar frescura.
$hover-color: #287c88;        // Turquesa oscuro para un efecto hover dinámico.
$light-bg: rgba(224, 247, 250, 0.9); // Fondo claro, transmitiendo frescura.
$dark-bg: rgba(18, 53, 51, 0.75);    // Verde oscuro natural, para un fondo contrastante.
$card-bg: #355c7d;            // Azul grisáceo para los fondos de las tarjetas.
$text-color: #e0f2f1;         // Un gris muy claro, casi blanco, para el texto sobre los fondos oscuros.
$shadow-color: rgba(0, 0, 0, 0.1); // Sombra suave y natural.


/* Encabezado */
.header-section {
    text-align: center;
    padding: 150px 0 50px;
    background-color: #17a2b8;
}

.header-section h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.header-section p {
    font-size: 16px;
    color: #aaa;
}

/* Estilo para la tarjeta con recorte semicircular */
.feature-card-enc {
    background-color: #39ff0762;
    text-align: center;
    position: relative;
    padding-top: 69px;
    margin-top: 70px;
    padding-bottom: 20px;
    border-radius: 0 0 10px 10px;
    width: 150px;
    width: 100%;
    height: 100%;
}

/* Ícono circular */
.feature-card-enc .icon {
    background-color: #17a2b8;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

/* Recorte semicircular */
.feature-card-enc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-radius: 0 0 100% 100%;
    opacity: 0;
}

/* Estilo del texto de la tarjeta */
.feature-card-enc p {
    margin-top: 20px;
    font-size: 16px;
    color: rgb(0, 156, 252);
    font-weight: bold;
}

/* Ajuste responsivo para centrar las tarjetas en pantallas pequeñas */
.card-section1 {
    display: block;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

@media (min-width: 768px) {
    .card-section1 {
        justify-content: space-evenly;
    }
}

/* Fondo gris oscuro transparente */
.background-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Barra de navegación */
.navbar {
    background-color: $dark-bg;

    a {
        color: $text-color;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s;

        &:hover {
            background-color: $hover-color;
        }
    }
}

/* Sección general y tarjetas */
.menu-section, .event-listing {
    padding: 60px 0;
    border-radius: 20px;
    box-shadow: 0 4px 15px $shadow-color;
    backdrop-filter: blur(10px);
}

.menu-section {
 
    background-image: url('../Img/menuit2.jpg');
}

.header-section {
 
    background-image: url('../Img/fondoaventura.png');
}

.event-listing {
   background-image: url('../Img/morro.png');
  // background-color: #17a3b85e;
}

.Alojamiento {
    background-image: url('../Img/hotelnabu.jpg');
}

.menu-title {
    font-size: 48px;
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Tarjetas del menú y eventos */
.menu-card, .event-card {
    background-color:rgba(0, 0, 0, 0.225);
    border-radius: 15px;
    padding: 20px;
    color: $text-color;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px $shadow-color;
    transition: transform 0.3s, background-color 0.3s;

    &:hover {
        transform: translateY(-10px);
        background-color: $card-bg;
    }
}

/* Elementos del menú */
.menu-item, .event-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
    transition: box-shadow 0.3s, transform 0.3s;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
    }
}

/* Textos de menú y eventos */
.menu-item-text, .event-info {
    flex: 1;
}

.menu-item-title, .event-name {
    font-size: 18px;
    font-weight: bold;
}

.menu-item-price {
    font-size: 16px;
    color: #d4a373;
}

.menu-item-description {
    font-size: 14px;
    color: #c5c5c5;
}

.event-tickets {
    font-size: 0.9rem;
    color: #6c757d;
}

.purchase-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
        background-color: #555;
    }
}

/* Secciones */
section {
    height: 150vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#aloj-tittle {
    text-align: center;
    padding: 20px;
    font-size: 36px;
}

.container-alo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.room-alo {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px $shadow-color;
    width: 300px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: transform 0.4s ease;
    }

    h2 {
        font-size: 24px;
        margin: 10px 0;
    }

    .price-alo {
        font-size: 28px;
        color: #333;
    }

    .details-alo {
        font-size: 16px;
        color: #666;
        margin: 10px 0;
        text-align: left;
        padding: 0 20px; 

        li {
            margin-bottom: 5px;
        }
    }

    &:hover {
        transform: scale(1.05); /* Slight zoom in */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow */
    }
}

/* Loading effect */
.room-alo {
    opacity: 0;
    animation: fadeIn 1s forwards;

    &:nth-child(1) { animation-delay: 0.2s; }
    &:nth-child(2) { animation-delay: 0.4s; }
    &:nth-child(3) { animation-delay: 0.6s; }
}

@keyframes fadeIn {
    to { opacity: 1; }
}

/* General video styling */
.promo-video {
    position: relative;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        object-fit: cover;
    }

    .promo-overlay {
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: background 0.3s ease;
        border-radius: 15px;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }

    .promo-text,
    .promo-hover-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        transition: opacity 0.3s ease;
        z-index: 2;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.3;

        &.promo-text {
            font-size: 1.8rem;
            color: white;
            opacity: 1;
        }

        &.promo-hover-text {
            opacity: 0;
            font-size: 1.1rem;
            line-height: 1.5;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-weight: 300;

                li::before {
                    content: "• ";
                    color: #ffcc00;
                }
            }
        }
    }

    &:hover {
        .promo-hover-text { opacity: 1; }
        .promo-text { opacity: 0; }
    }
}
.card img {
    object-fit: cover;
    height: 100%;
}
.accommodation-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.accommodation-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.card img {
    object-fit: cover;
    height: 100%;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40; /* Color del texto (puedes ajustar según prefieras) */
}
.card-text {
    font-size: 1rem;
    color: #6c757d; /* Color del texto secundario (puedes ajustar según prefieras) */
}
.card-body {
    background-color: #ffffff; /* Color de fondo del cuerpo de la tarjeta */
}
.card-body i {
    color: #f53e06; /* Color de los iconos (puedes ajustar según prefieras) */
}
/* Estilos para los títulos */

/* Efecto hover para las tarjetas */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos para las imágenes de las tarjetas */
.card img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

/* Etiquetas de recomendación y nuevo */
.position-absolute {
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.9;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

        /* Encabezado */
        .header-section {
            text-align: center;
            padding: 150px 0 50px;
            background-color: #17a2b8;
        }

        .header-section h1 {
            font-size: 64px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .header-section h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .header-section p {
            font-size: 16px;
            color: #aaa;
        }

        /* Estilo para la tarjeta con recorte semicircular */
        .feature-card-enc {
            background-color: #3087a794;
            text-align: center;
            position: relative;
            padding-top: 30px;
            padding-bottom: 20px;
            border-radius: 0 0 10px 10px;
            width: 130px;
            height: 120px;
        }

        /* Ícono circular */
        .feature-card-enc .icon {
            background-color:#17a3b808;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            
        }

        /* Recorte semicircular */
        .feature-card-enc::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: white;
            border-radius: 0 0 100% 100%;
        }

        /* Estilo del texto de la tarjeta */
        .feature-card-enc p {
            margin-top: 20px;
            font-size: 16px;
            color: white;
            font-weight: bold;
        }

        /* Ajuste responsivo para centrar las tarjetas en pantallas pequeñas */
        .card-section1 {
            display: block;
            justify-content: center;
            gap: 20px;
            padding: 50px 0;
        }

        @media (min-width: 768px) {
            .card-section1 {
                justify-content: space-evenly;
            }
        }

        /* Fondo gris oscuro transparente */
        .background-overlay {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .fondoletra{

            div{
            
                background: rgba(175, 172, 172, 0.548);
                border-radius: 5%;
                opacity: 0.9;
            }
        

        }
        .fixed-size {
            width: 100%;       /* Para que ocupe todo el ancho de la columna */
            height: 300px;     /* Asignar una altura fija */
            object-fit: cover; /* Para que las imágenes se ajusten sin deformarse */
        }